/*cabeçalho*/

#links {
    padding-left: 10rem;
}
  
.nav-item a:hover {
    color: rgb(245, 33, 33);
  }

  /*tabela*/

.tabela {
    padding: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela table tr th{
    border: 1px solid rgb(233, 219, 20);
    border-collapse: collapse;
    color: #fff;
}

.tabela tr th{
    padding: 10px 40px;
    background-color: #a12020;
}

.tabela th img{
    width: 90px;
    height: auto;
    border-radius: 50%;
}

/*Rodape*/
#copyright{
    padding-top: 50px;
}
.rodape {
    padding: 0.5rem;
    background: rgb(237, 3, 3);
 }
 
 #copyright p {
    color: rgb(0, 0, 0);
    font-size: 11px;
    text-align: center;
    margin-top: 15px;
    margin-left: 40px;
 }

.carousel-item img{
    width: 300px;
    height: auto;
}

 @media (max-width:550px){
    #links {
        padding-left: 0;
    }
    #copyright p {
        margin-left: 0px;
     }
 }